<%- include('./partials/header'); -%>
<h3 style="color:Green;">DELETE DATA INTO DATABASE</h3>
<form  class="row g-3"action="/delete" method="post">
<div class="col-md-12">
  <label for="postId" class="form-label" >ID</label>
  <input class="form-control" type="text" name="postId" required>
  </div>
<div class="col-md-12">
<button  class="btn btn-danger"type="submit" name="button">DELETE</button>
</div>
</form>
<%- include('./partials/footer'); -%>
